{% extends 'base.html.twig' %}

{% block header %}
	<div class="bg-secondary-subtle d-flex justify-content-between">
		<h1>Bredele</h1>
		<form class="d-flex w-25" role="search">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
		<a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Suivi commande</a>
		<a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Mon compte</a>
		<a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Panier</a>
	</div>
	<nav class="navbar navbar-expand-lg bg-danger">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav d-flex justify-content-between">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Nos produits
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('product') }}">Bredele</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('product') }}">Bredele au chocolat</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('product') }}">Bredele végan</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Nos nouvautés</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Recettes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('blog') }}">Blog</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock header %}

{% block footer %}
	<div class="d-flex justify-content-around mt-5">
		<div>
			<h3>Produits</h3>
			<p>Nos réductions</p>
			<p>Meilleurs ventes</p>
			<p>Nos nouvautés</p>
		</div>
		<div>
			<h3>Notre companie</h3>
			<p>Livraison</p>
			<p>Mentions légales</p>
			<p>Conditions d'utilisation</p>
			<p>A propos de nous</p>
			<p>Payements sécuriés</p>
			<p>Magasins</p>
		</div>
		<div>
			<h3>Votre compte</h3>
			<p>Informations personnelles</p>
			<p>Commandes</p>
		</div>
		<div>
			<h3>Nous contacter</h3>
			<p>Email : contact@brunomaucourt.com</p>
		</div>
	</div>
	<h3 class="text-center">Retouvez nous sur nos réseaux sociaux :</h3>
	<div class="d-flex justify-content-around my-3">
		<a href="#">
			<img src="{{ asset('assets/pictures/website/social_media/LogoFacebook.svg') }}" class="" alt="">
		</a>
		<a href="#">
			<img src="{{ asset('assets/pictures/website/social_media/LogoInstagram.svg') }}" class="" alt="">
		</a>
		<a href="#">
			<img src="{{ asset('assets/pictures/website/social_media/LogoTwitter.svg') }}" class="" alt="">
		</a>
		<a href="#">
			<img src="{{ asset('assets/pictures/website/social_media/LogoYoutube.svg') }}" class="" alt="">
		</a>
		<a href="#">
			<img src="{{ asset('assets/pictures/website/social_media/LogoRSS.svg') }}" class="" alt="">
		</a>
	</div>
	<p class="text-center mt-3">Copyright - <a href="https://brunomaucourt.com">Bruno Maucourt</a> {{ current_year }}  - Site portfolio</p>
{% endblock footer %}
